body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.panel {
  display: flex;
  flex-direction: row;
}

p {
  margin: 20px 40px;
}

.grid {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  background-color: rgb(93, 104, 30);
  text-align: center;
}

.characters {
  display: flex;
  flex-direction: row;
}

.characters > div {
  padding: 20px;
}
