body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.panel {
  display: flex;
  flex-direction: row;
}

p {
  margin: 20px 40px;
}

.characters {
  display: flex;
  flex-direction: row;
}

.characters > div {
  padding: 20px;
}

.grid {
  display: flex;
  display: grid;
  grid-template-rows: repeat(13, 1fr);
  grid-template-columns: repeat(13, 1fr);
}

.square {
  border: 1px solid #ddd;
  text-align: center;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
}

.character {
  background-color: blue;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
